.phonestate{
  height: 7rem;;
  margin: 20px;
  padding: 10px;
  border: 3px solid lightslategrey;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px;
  align-self: center;
}

.button2 {
  display: flex;
  text-align: center;
  align-items: center;
  width: 150px;
  color: #ffffff;
  background-color: #3c54cb;
  border-radius: 1rem;
  height: 8em;
  align-self: center;
  box-shadow: 3px 3px 3px blue;
  text-decoration: none;
  color: yellow;
}

.state {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-left: 10px;
} 