.imgphone {
  width: 10rem;
}

.phone-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section1 {
  display: flex;
  justify-content: space-around;
}

.phone-card {
  width: calc(25% - 20px);
  margin: 20px;
  padding: 10px;
  border: 3px solid lightslategrey;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px;
}

.price {
  margin-left: 1.5em;
  font-size: 1.5em;
  color: red;
}

.body {
  text-align: center;
}
