* {
  padding: 0;
  margin: 0;
  font-family: M;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  .Logo {
    width: 6rem;
  }
  p {
    font-size: large;
    color: white;
  }
}
